---
layout: default
title: Home
body_class: home
---

<h1>2021-22 Season</h1>

<div class="subnav">
  <a href="./">2022–23</a>
  <a class="current" href="2021-2022.html">2021–22</a>
</div>

<h2>Competitions</h2>

<div class="table-container">
  <table id="season-summary" class="season-table">
    <thead>
      <tr>
        <th class="left">Competition</th>
        <th class="right">W</th>
        <th class="right">D</th>
        <th class="right">L</th>
        <th class="right">GF</th>
        <th class="right">GA</th>
        <th class="right">GD</th>
        <th class="left">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for season in site.data.history %}
        {% if season.season == "2021-2022" %}
          <tr>
            <td class="left"><strong>League</strong> (Kreisliga A)</td>
            <td class="right">{{ season.lg_w }}</td>
            <td class="right">{{ season.lg_l }}</td>
            <td class="right">{{ season.lg_d }}</td>
            <td class="right">{{ season.lg_gf }}</td>
            <td class="right">{{ season.lg_ga }}</td>
            <td class="right">
              {% assign lg_gd = season.lg_gd | plus: 0 %}
              {% if lg_gd > 0 %}+{% endif %}{{ lg_gd }}
            </td>
            <td class="left">Won league</td>
          </tr>
          <tr>
            <td class="left"><strong>Playoffs</strong> (Promotion)</td>
            <td class="right">{{ season.pp_w }}</td>
            <td class="right">{{ season.pp_l }}</td>
            <td class="right">{{ season.pp_d }}</td>
            <td class="right">{{ season.pp_gf }}</td>
            <td class="right">{{ season.pp_ga }}</td>
            <td class="right">
              {% assign pp_gd = season.pp_gd | plus: 0 %}
              {% if pp_gd > 0 %}+{% endif %}{{ pp_gd }}
            </td>
            <td class="left">Won promotion playoff to Bezirksliga (6th tier)</td>
          </tr>
          <tr>
            <td class="left"><strong>Cup</strong> (Kreispokal)</td>
            <td class="right">{{ season.cup_w }}</td>
            <td class="right">{{ season.cup_l }}</td>
            <td class="right">{{ season.cup_d }}</td>
            <td class="right">{{ season.cup_gf }}</td>
            <td class="right">{{ season.cup_ga }}</td>
            <td class="right">
              {% assign cup_gd = season.cup_gd | plus: 0 %}
              {% if cup_gd > 0 %}+{% endif %}{{ cup_gd }}
            </td>
            <td class="left">Won Kreispokal</td>
          </tr>
          <tr class="row-all">
            <td class="left">All Competitions</td>
            <td class="right">{{ season.all_w }}</td>
            <td class="right">{{ season.all_l }}</td>
            <td class="right">{{ season.all_d }}</td>
            <td class="right">{{ season.all_gf }}</td>
            <td class="right">{{ season.all_ga }}</td>
            <td class="right">
              {% assign all_gd = season.all_gd | plus: 0 %}
              {% if all_gd > 0 %}+{% endif %}{{ all_gd }}
            </td>
            <td class="left"></td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<h2>Statistics</h2>
<p><strong>Note:</strong> Four own goals scored.</p>

<ul class="table-toggles">
  <li><button class="table-toggle show-league">League</button></li>
  <li><button class="table-toggle show-playoffs">Playoffs</button></li>
  <li><button class="table-toggle show-cup">Cup</button></li>
  <li><button class="table-toggle show-all">All <span class="hide-on-small">Competitions</span></button></li>
</ul>

<div class="table-container">
  <table id="stats-league" class="stats-table">
    <thead>
      <tr>
        <th class="left">Player</th>
        <th class="right">Number</th>
        <th class="left">Position</th>
        <th class="right">Matches</th>
        <th class="right">Starts</th>
        <th class="right">Minutes</th>
        <th class="right" data-sort-default>Goals</th>
        <th class="right">Assists</th>
        <th class="right">G+A/90</th>
        <th class="right">Yellow</th>
        <th class="right">Red</th>
      </tr>
    </thead>
    <tbody>
      {% for player in site.data.stats %}
        {% assign min = player.lg_min | plus: 0 %}
        {% if min > 0 and player.season == "2021-2022" %}
          <tr>
            <td class="left" data-sort="{{ player.id }}">
              <div class="player-photo" style="background-image: url(assets/images/frauen/2021-2022/100/{{ player.id }}.jpg)"></div>
              <a href="{{ player.id }}.html"><span class="hide-on-small">{{ player.first }}</span> {{ player.last }}</a>
            </td>
            <td class="right">{{ player.number }}</td>
            <td class="left">{{ player.position }}</td>
            <td class="right" data-value="{{ player.lg_m }}">{{ player.lg_m }}</td>
            <td class="right" data-value="{{ player.lg_s }}">{{ player.lg_s }}</td>
            <td class="right" data-value="{{ player.lg_min }}">{{ player.lg_min }}</td>
            <td class="right" data-value="{{ player.lg_g }}">{{ player.lg_g }}</td>
            <td class="right" data-value="{{ player.lg_a }}">{{ player.lg_a }}</td>
            <td class="right" data-value="{{ player.lg_ga90 }}">{{ player.lg_ga90 }}</td>
            <td class="right" data-value="{{ player.lg_y }}">{{ player.lg_y }}</td>
            <td class="right" data-value="{{ player.lg_r }}">{{ player.lg_r }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="table-container">
  <table id="stats-playoffs" class="stats-table">
    <thead>
      <tr>
        <th class="left">Player</th>
        <th class="right">Number</th>
        <th class="left">Position</th>
        <th class="right">Matches</th>
        <th class="right">Starts</th>
        <th class="right">Minutes</th>
        <th class="right" data-sort-default>Goals</th>
        <th class="right">Assists</th>
        <th class="right">G+A/90</th>
        <th class="right">Yellow</th>
        <th class="right">Red</th>
      </tr>
    </thead>
    <tbody>
      {% for player in site.data.stats %}
        {% assign min = player.pp_min | plus: 0 %}
        {% if min > 0 and player.season == "2021-2022" %}
          <tr>
            <td class="left" data-sort="{{ player.id }}">
              <div class="player-photo" style="background-image: url(assets/images/frauen/2021-2022/100/{{ player.id }}.jpg)"></div>
              <a href="{{ player.id }}.html"><span class="hide-on-small">{{ player.first }}</span> {{ player.last }}</a>
            </td>
            <td class="right">{{ player.number }}</td>
            <td class="left">{{ player.position }}</td>
            <td class="right" data-value="{{ player.pp_m }}">{{ player.pp_m }}</td>
            <td class="right" data-value="{{ player.pp_s }}">{{ player.pp_s }}</td>
            <td class="right" data-value="{{ player.pp_min }}">{{ player.pp_min }}</td>
            <td class="right" data-value="{{ player.pp_g }}">{{ player.pp_g }}</td>
            <td class="right" data-value="{{ player.pp_a }}">{{ player.pp_a }}</td>
            <td class="right" data-value="{{ player.pp_ga90 }}">{{ player.pp_ga90 }}</td>
            <td class="right" data-value="{{ player.pp_y }}">{{ player.pp_y }}</td>
            <td class="right" data-value="{{ player.pp_r }}">{{ player.pp_r }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="table-container">
  <table id="stats-cup" class="stats-table">
    <thead>
      <tr>
        <th class="left">Player</th>
        <th class="right">Number</th>
        <th class="left">Position</th>
        <th class="right">Matches</th>
        <th class="right">Starts</th>
        <th class="right">Minutes</th>
        <th class="right" data-sort-default>Goals</th>
        <th class="right">Assists</th>
        <th class="right">G+A/90</th>
        <th class="right">Yellow</th>
        <th class="right">Red</th>
      </tr>
    </thead>
    <tbody>
      {% for player in site.data.stats %}
        {% assign min = player.cup_min | plus: 0 %}
        {% if min > 0 and player.season == "2021-2022" %}
          <tr>
            <td class="left" data-sort="{{ player.id }}">
              <div class="player-photo" style="background-image: url(assets/images/frauen/2021-2022/100/{{ player.id }}.jpg)"></div>
              <a href="{{ player.id }}.html"><span class="hide-on-small">{{ player.first }}</span> {{ player.last }}</a>
            </td>
            <td class="right">{{ player.number }}</td>
            <td class="left">{{ player.position }}</td>
            <td class="right" data-value="{{ player.cup_m }}">{{ player.cup_m }}</td>
            <td class="right" data-value="{{ player.cup_s }}">{{ player.cup_s }}</td>
            <td class="right" data-value="{{ player.cup_min }}">{{ player.cup_min }}</td>
            <td class="right" data-value="{{ player.cup_g }}">{{ player.cup_g }}</td>
            <td class="right" data-value="{{ player.cup_a }}">{{ player.cup_a }}</td>
            <td class="right" data-value="{{ player.cup_ga90 }}">{{ player.cup_ga90 }}</td>
            <td class="right" data-value="{{ player.cup_y }}">{{ player.cup_y }}</td>
            <td class="right" data-value="{{ player.cup_r }}">{{ player.cup_r }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="table-container">
  <table id="stats-all" class="stats-table">
    <thead>
      <tr>
        <th class="left">Player</th>
        <th class="right">Number</th>
        <th class="left">Position</th>
        <th class="right">Matches</th>
        <th class="right">Starts</th>
        <th class="right">Minutes</th>
        <th class="right" data-sort-default>Goals</th>
        <th class="right">Assists</th>
        <th class="right">G+A/90</th>
        <th class="right">Yellow</th>
        <th class="right">Red</th>
      </tr>
    </thead>
    <tbody>
      {% for player in site.data.stats %}
        {% assign min = player.all_min | plus: 0 %}
        {% if min > 0 and player.season == "2021-2022" %}
          <tr>
            <td class="left" data-sort="{{ player.id }}">
              <div class="player-photo" style="background-image: url(assets/images/frauen/2021-2022/100/{{ player.id }}.jpg)"></div>
              <a href="{{ player.id }}.html"><span class="hide-on-small">{{ player.first }}</span> {{ player.last }}</a>
            </td>
            <td class="right">{{ player.number }}</td>
            <td class="left">{{ player.position }}</td>
            <td class="right" data-value="{{ player.all_m }}">{{ player.all_m }}</td>
            <td class="right" data-value="{{ player.all_s }}">{{ player.all_s }}</td>
            <td class="right" data-value="{{ player.all_min }}">{{ player.all_min }}</td>
            <td class="right" data-value="{{ player.all_g }}">{{ player.all_g }}</td>
            <td class="right" data-value="{{ player.all_a }}">{{ player.all_a }}</td>
            <td class="right" data-value="{{ player.all_ga90 }}">{{ player.all_ga90 }}</td>
            <td class="right" data-value="{{ player.all_y }}">{{ player.all_y }}</td>
            <td class="right" data-value="{{ player.all_r }}">{{ player.all_r }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<h2>Matches</h2>

<div class="table-container">
  <table id="fixtures-list" class="players-table">
    <thead>
      <tr>
        <th class="left">Date</th>
        <th class="left">Time</th>
        <th class="left">Opponent</th>
        <th class="left">Competition</th>
        <th class="left">Round</th>
        <th class="left">Venue</th>
        <th class="right">GF</th>
        <th class="right">GA</th>
        <th class="left">Result</th>
        <th class="left">Stream</th>
        <th class="left">Highlights</th>
        <th class="left">Recap</th>
      </tr>
    </thead>
    <tbody>
      {% for match in site.data.matches %}
        {% if match.season == "2021-2022" %}
          <tr>
            <td class="left">
              {% if match.result %}
                <a href="matches.html#match-{{ match.id }}">{{ match.date }}</a>
              {% else %}
                {{ match.date }}
              {% endif %}
            </td>
            <td class="left">{{ match.time }}</td>
            <td class="left">{{ match.opponent }}</td>
            <td class="left">{{ match.comp }}</td>
            <td class="left">{{ match.round }}</td>
            <td class="left">{{ match.venue }}</td>
            <td class="right">{{ match.gf }}</td>
            <td class="right">{{ match.ga }}</td>
            <td class="left {{ match.result | downcase }}">{{ match.result }}</td>
            <td class="left">
              {% if match.stream %}
              <a href="https://soccerwatch.tv/video/{{ match.stream }}">Stream</a>
              {% endif %}
            </td>
            <td class="left">
              {% if match.result %}
                {% if match.stream %}
                  <a href="https://soccerwatch.tv/video/{{ match.stream }}/highlight">Highlights</a>
                {% endif %}
              {% endif %}
            </td>
            <td class="left">
              {% if match.recap %}
                <a href="{{ match.recap }}">Recap</a>
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<h2>Squad</h2>

<div class="table-container">
  <table id="players-list" class="players-table">
    <thead>
      <tr>
        <th class="left">Player</th>
        <th class="right">Number</th>
        <th class="left">Position</th>
        <th class="left">Date of Birth</th>
        <th class="right">Height</th>
        <th class="left">Previous Club</th>
        <th class="left">Instagram</th>
        <th class="left">Twitter</th>
      </tr>
    </thead>
    <tbody>
      {% for player in site.data.players %}
        {% unless player.id == "schlenker" %}
          {% if player.2021-22 == "1" %}
            <tr>
              <td class="left" data-sort="{{ player.id }}">
                <div class="player-photo" style="background-image: url(assets/images/frauen/2021-2022/100/{{ player.id }}.jpg)"></div>
                <a href="{{ player.id }}.html">
                  <span class="hide-on-small">{{ player.first }}</span> {{ player.last }}
                </a>
              </td>
              <td class="right">{{ player.number }}</td>
              <td class="left">{{ player.position }}</td>
              <td class="left" data-sort="{{ player.dob }}">
                {% if player.dob %}
                  {{ player.dob | date: '%B %-d, %Y' }} <span class="{{ player.id }}-age"></span>
                {% endif %}
              </td>
              <td class="right" data-sort="{{ player.height }}">
                {% if player.height %}
                  {{ player.height }} cm
                {% endif %}
              </td>
              <td class="left">{{ player.prev_club }}</td>
              <td class="left">
                {% if player.instagram %}
                  <a href="http://instagram.com/{{ player.instagram }}">{{ player.instagram }}</a>
                {% endif %}
              </td>
              <td class="left">
                {% if player.twitter %}
                  <a href="http://twitter.com/{{ player.twitter }}">{{ player.twitter }}</a>
                {% endif %}
              </td>
              <script>
                function calculate_age(dob) {
                  var diff_ms = Date.now() - dob.getTime();
                  var age_dt = new Date(diff_ms);
                  return Math.abs(age_dt.getUTCFullYear() - 1970);
                }

                var playerAge = document.querySelector('.{{ player.id }}-age');

                playerAge.appendChild(document.createTextNode("(" + calculate_age(new Date("{{ player.dob }}")) + ")"));
              </script>
            </tr>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </tbody>
  </table>
</div>

<h2>Coaching Staff</h2>

<div class="table-container">
  <table id="staff-list" class="players-table">
    <thead>
      <tr>
        <th class="left">Name</th>
        <th class="left">Position</th>
        <th class="left">Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="left" data-sort="sulewski">
          <div class="player-photo" style="background-image: url(assets/images/frauen/2021-2022/100/sulewski.jpg)"></div>
          Thomas Sulewski
        </td>
        <td class="left">Head Coach</td>
        <td class="left" data-sort="1990-08-03">August 3, 1990</td>
      </tr>
      <tr>
        <td class="left" data-sort="wurst">
          <div class="player-photo" style="background-image: url(assets/images/frauen/2021-2022/100/wurst.jpg)"></div>
          Dustin Wurst
        </td>
        <td class="left">Assistant Coach</td>
        <td class="left" data-sort="1985-04-03">April 3, 1985</td>
      </tr>
      <tr>
        <td class="left" data-sort="treude">
          <div class="player-photo" style="background-image: url(assets/images/frauen/2021-2022/100/treude.jpg)"></div>
          Tim Treude
        </td>
        <td class="left">Assistant Coach</td>
        <td class="left" data-sort="1990-01-28">January 28, 1990</td>
      </tr>
      <tr>
        <td class="left" data-sort="krahn">
          <div class="player-photo" style="background-image: url(assets/images/frauen/2021-2022/100/krahn.jpg)"></div>
          Annike Krahn
        </td>
        <td class="left">Sporting Advisor</td>
        <td class="left" data-sort="1985-07-01">July 1, 1985</td>
      </tr>
      <tr>
        <td class="left" data-sort="timm">
          <div class="player-photo" style="background-image: url(assets/images/frauen/2021-2022/100/timm.jpg)"></div>
          Christian Timm
        </td>
        <td class="left">Sporting Advisor</td>
        <td class="left" data-sort="1979-02-27">February 27, 1979</td>
      </tr>
      <tr>
        <td class="left" data-sort="timm">
          <div class="player-photo" style="background-image: url(assets/images/frauen/100/2021-2022/focher.jpg)"></div>
          Johannes Focher
        </td>
        <td class="left">Goalkeeping Trainer</td>
        <td class="left" data-sort="1990-01-20">January 20, 1990</td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Additional Coverage</h2>

<ul>
  <li>
    <strong><a href="2021-08-05-frauen-podcast.html">BVB Frauen Podcast Translation by Julia Poblotzki</a>:</strong> On August 5, 2021 Borussia Dortmund published <a href="https://www.bvb.de/Mannschaften/Frauen/News/Frauenfussball-beim-BVB-im-Podcast-Ein-Traum-geht-in-Erfuellung!">a podcast episode</a> with Svenja Schlenker (Borussia Dortmund’s Department Head, Womens Football), Lisa Klemann (Borussia Dortmund Frauen player), and Thomas Sulewski (Borussia Dortmund Frauen head coach). The podcast, of course, is in German. But Fear the Wall’s Julia Poblotzki (<a href="http://twitter.com/jpoblo">@jpoblo</a> on Twitter) graciously translated it to English for the site. Thank you, Julia!
  </li>
  <li>
    <strong><a href="https://internationalfanapp.bvb.de/contents/09-stats-breakdown-bvb-frauen/">09 Stats Breakdown - BVB Frauen</a></strong> <em>(December 14, 2021)</em>
  </li>
  <li>
    <strong><a href="https://www.bvb.de/eng/News/Overview/Borussia-Dortmund-launches-Girls-and-Women-s-Football-department">Borussia Dortmund launches "Girls' and Women's Football" department</a></strong>: Original announcement of the establishment of a women’s football department at Borussia Dortmund. <em>(September 10, 2020)</em>
  </li>
</ul>

<h2>Team Information</h2>

<ul>
  <li><strong>Department Head, Womens Football:</strong> <a href="schlenker.html">Svenja Schlenker</a></li>
  <li><strong>League:</strong> <a href="https://www.fussball.de/spieltagsuebersicht/frauen-kl-a-dortmund-gruppe-2-kreis-dortmund-frauen-kreisliga-a-frauen-saison2122-westfalen/-/staffel/02EHD0KC5S00000DVS5489B3VT9UQ08G-G#!/">Frauen Kreisliga A Dortmund, Group 2</a> (7th Tier)</li>
  <li><strong>Website:</strong> <a href="https://www.bvb.de/frauen/">bvb.de/frauen</a></li>
  <li><strong>Instagram:</strong> <a href="https://www.instagram.com/bvb09frauen/">bvb09frauen</a></li>
  <li><strong>Schedule, Results, and Table:</strong> <a href="https://www.fussball.de/mannschaft/borussia-dortmund-borussia-dortmund-westfalen/-/saison/2122/team-id/02EM2C1FF4000000VS5489B1VU24SJ9U#!/">via Fussball.de</a></li>
</ul>

</div>

<script>
  var showLeague = document.querySelector('.show-league');
  var showPlayoffs = document.querySelector('.show-playoffs');
  var showCup = document.querySelector('.show-cup');
  var showAll = document.querySelector('.show-all');

  var allButtons = document.querySelectorAll('.table-toggle');

  var tableLeague = document.querySelector('#stats-league');
  var tablePlayoffs = document.querySelector('#stats-playoffs');
  var tableCup = document.querySelector('#stats-cup');
  var tableAll = document.querySelector('#stats-all');

  var allTables = document.querySelectorAll('.stats-table');

  window.onload = function() {
    allTables.forEach((table) => {
      table.classList.add('hide');
    });
    allButtons.forEach((button) => {
      button.classList.remove('selected');
    });
    tableLeague.classList.remove('hide');
    showLeague.classList.add('selected');
  };

  showLeague.addEventListener('click', function () {
    allTables.forEach((table) => {
      table.classList.add('hide');
    });
    allButtons.forEach((button) => {
      button.classList.remove('selected');
    });
    tableLeague.classList.remove('hide');
    showLeague.classList.add('selected');
  });

  showPlayoffs.addEventListener('click', function () {
    allTables.forEach((table) => {
      table.classList.add('hide');
    });
    allButtons.forEach((button) => {
      button.classList.remove('selected');
    });
    tablePlayoffs.classList.remove('hide');
    showPlayoffs.classList.add('selected');
  });

  showCup.addEventListener('click', function () {
    allTables.forEach((table) => {
      table.classList.add('hide');
    });
    allButtons.forEach((button) => {
      button.classList.remove('selected');
    });
    tableCup.classList.remove('hide');
    showCup.classList.add('selected');
  });

  showAll.addEventListener('click', function () {
    allTables.forEach((table) => {
      table.classList.add('hide');
    });
    allButtons.forEach((button) => {
      button.classList.remove('selected');
    });
    tableAll.classList.remove('hide');
    showAll.classList.add('selected');
  });
</script>

<script>
  new Tablesort(document.getElementById('players-list'));
  new Tablesort(document.getElementById('staff-list'));
  new Tablesort(document.getElementById('stats-league'), { descending: true });
  new Tablesort(document.getElementById('stats-playoffs'), { descending: true });
  new Tablesort(document.getElementById('stats-cup'), { descending: true });
  new Tablesort(document.getElementById('stats-all'), { descending: true });
  new Tablesort(document.getElementById('fixtures-list'));
</script>
