---
layout: default
title: Borussia Dortmund Frauen
body_class: frauen
---

<h1>4-1-4-1</h1>

<div class="formation">
  <div class="frauen-cards" style="margin-bottom: 0;">
    <div style="margin-left: 465px;"></div>
    {% include formation-card.html player="goosmann" %}
  </div>

  <div class="frauen-cards" style="margin-bottom: 0;">
    {% include formation-card.html player="heim" %}
    {% include formation-card.html player="zabell" %}
    {% include formation-card.html player="rogge-herper" %}
    {% include formation-card.html player="lau" %}
  </div>

  <div class="frauen-cards" style="margin-bottom: 0;">
    <div style="margin-left: 465px;"></div>
    {% include formation-card.html player="becker" %}
  </div>

  <div class="frauen-cards" style="margin-bottom: 0;">
    {% include formation-card.html player="porteners" %}
    {% include formation-card.html player="glanzer" %}
    {% include formation-card.html player="jung" %}
    {% include formation-card.html player="klemann" %}
  </div>

  <div class="frauen-cards" style="margin-bottom: 0;">
    <div style="margin-left: 465px;"></div>
    {% include formation-card.html player="schroer" %}
  </div>
</div>
