---
layout: default
title: All Goals Since 2015–16
body_class: goals
---

<h2>{{ page.title }}</h2>

<div class="subnav">
  <a href="goals.html">2021–22</a>
  <a href="goals-2019-2020.html">2020–21</a>
  <a href="goals-2019-2020.html">2019–20</a>
  <a href="goals-2018-2019.html">2018–19</a>
  <a href="goals-2017-2018.html">2017–18</a>
  <a href="goals-2016-2017.html">2016–17</a>
  <a href="goals-2015-2016.html">2015–16</a>
  <a class="current" href="goals-all.html">All</a>
</div>

<div class="goal-table-filter">
  <label for="goal-filter">Filter Goals</label>
  <input id="goal-filter" type="text" class="table-filter" data-table="goals-table" placeholder="Search for player, opponent, competition, etc." />
</div>

{% assign seasons = "stats-2015-2016,stats-2016-2017,stats-2017-2018,stats-2018-2019,stats-2019-2020,stats-2020-2021,stats-2021-2022" | split: ','%}

<div class="table-container">
  <table id="all-goals" class="goals-table">
    <thead>
      <tr>
        <th class="left">Scorer</th>
        <th class="left">Official Assist</th>
        <th class="left">1st Assist</th>
        <th class="left">2nd Assist</th>
        <th class="left">Season</th>
        <th class="left">Date</th>
        <th class="left">Competition</th>
        <th class="left">Round</th>
        <th class="right">Min</th>
        <th class="left">Opponent</th>
        <th class="left">Venue</th>
        <th class="right">GF</th>
        <th class="right">GA</th>
        <th class="right">GD</th>
        <th class="left">Note</th>
      </tr>
    </thead>
    <tbody>
      {% for season in seasons %}
        {% for goal in site.data.[season].goals %}
          <tr data-scorer="{{ goal.id_scorer }}">
            <td class="left" data-sort="{{ goal.id_scorer }}">
              {% for player in site.data.players %}
                {% if player.id == goal.id_scorer %}
                  {% if player.has_photo == "true" %}
                    <div class="player-photo {{ goal.active }}" style="background-image: url(assets/images/100/{{ goal.id_scorer }}.png)">
                    </div>
                  {% else %}
                    <div class="player-photo">
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
              <a href="{{ goal.id_scorer }}.html">
                <span class="hide-on-small">{{ goal.scorer_first }}</span> {{ goal.scorer_last }}
              </a>
            </td>
            <td class="left" data-sort="{{ goal.id_assist_official }}">{% if goal.assist_official != nil %}<a href="{{ goal.id_assist_official }}.html">{{ goal.assist_official }}</a>{% endif %}</td>
            <td class="left" data-sort="{{ goal.id_assist_1st }}">{% if goal.assist_1st != nil %}<a href="{{ goal.id_assist_1st }}.html">{{ goal.assist_1st }}</a>{% endif %}</td>
            <td class="left" data-sort="{{ goal.id_assist_2nd }}">{% if goal.assist_2nd != nil %}<a href="{{ goal.id_assist_2nd }}.html">{{ goal.assist_2nd }}</a>{% endif %}</td>
            <td class="left">{{ goal.season }}</td>
            <td class="left">{{ goal.date | date: '%B %-d, %Y' }}</td>
            <td class="left">{{ goal.comp }}</td>
            <td class="left" data-sort="{{ goal.round_alt }}">{{ goal.round }}</td>
            <td class="right" data-sort="{{ goal.min_alt }}">{{ goal.min }}</td>
            <td class="left">{{ goal.opponent }}</td>
            <td class="left">{{ goal.venue }}</td>
            <td class="right">{{ goal.gf }}</td>
            <td class="right">{{ goal.ga }}</td>
            <td class="right">{{ goal.gd }}</td>
            <td class="left"><span>{{ goal.note }}</span></td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  new Tablesort(document.getElementById('all-goals'));
</script>

{% include table-search-script.html %}
