---
layout: default
title: Goals
body_class: goals
---

<h1>{{ page.title }}</h1>

<div class="goal-table-filter">
  <label for="goal-filter">Filter Goals</label>
  <input id="goal-filter" type="text" class="table-filter" data-table="goals-table" placeholder="Search for player, opponent, competition, etc." />
</div>

<div class="table-container">
  <table id="frauen-goals" class="goals-table">
    <thead>
      <tr>
        <th class="left">Scorer</th>
        <th class="left">Assist</th>
        <th class="left">Date</th>
        <th class="left">Competition</th>
        <th class="left">Round</th>
        <th class="right">Min</th>
        <th class="left">Opponent</th>
        <th class="left">Venue</th>
        <th class="right">GF</th>
        <th class="right">GA</th>
        <th class="right">GD</th>
        <th class="left">Note</th>
      </tr>
    </thead>
    <tbody>
      {% for goal in site.data.goals %}
        {% if goal.season == "2021-22" %}
          <tr>
            <td class="left" data-sort="{{ goal.id_scorer }}">
              {% if goal.id_scorer %}
                <div class="player-photo" style="background-image: url(assets/images/frauen/2021-2022/100/{{ goal.id_scorer }}.jpg)"></div>
                <a href="{{ goal.id_scorer }}.html"><span class="hide-on-small">{{ goal.scorer_first }}</span> {{ goal.scorer_last }}</a>
              {% else %}
                Own Goal
              {% endif %}
            </td>
            <td class="left" data-sort="{{ goal.id_assist_official }}">
              {% if goal.id_assist_official != nil %}
                <a href="{{ goal.id_assist_official }}.html"><span class="hide-on-small">{{ goal.assist_first }}</span> {{ goal.assist_last }}</a>
              {% endif %}
            </td>
            <td class="left"><a href="matches.html#match-{{ goal.match }}">{{ goal.date }}</a></td>
            <td class="left">{{ goal.comp }}</td>
            <td class="left" data-sort="{{ goal.id }}">{{ goal.round }}</td>
            <td class="right" data-sort="{{ goal.min_alt }}"> {{ goal.min }}</td>
            <td class="left">{{ goal.opponent }}</td>
            <td class="left">{{ goal.venue }}</td>
            <td class="right">{{ goal.gf }}</td>
            <td class="right">{{ goal.ga }}</td>
            <td class="right">{{ goal.gd }}</td>
            <td class="left"><span>{{ goal.note }}</span></td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  new Tablesort(document.getElementById('frauen-goals'));
</script>

{% include table-search-script.html %}
