---
layout: default
title: All Goals
body_class: goals
---

<h2>
  {{ page.title }}
  <a href="goals">2019-20</a>
  <a href="goals-2018-2019">2018-19</a>
  <a href="goals-2017-2018">2017-18</a>
  <a href="goals-2016-2017">2016-17</a>
  <a href="goals-2015-2016">2015-16</a>
  <a href="goals-2020-2021-preseason">2020-21 Preseason</a>
</h2>

{% include goals-table.html directory="stats-2019-2020" %}
{% include goals-table.html directory="stats-2018-2019" %}
{% include goals-table.html directory="stats-2017-2018" %}
{% include goals-table.html directory="stats-2016-2017" %}
{% include goals-table.html directory="stats-2015-2016" %}

<p>
  <span class="incomplete-key"></span>
  Denotes that I have not yet found clear, complete video of the goal buildup. I may be missing the second assist (if there is one) and possibly the first.
</p>
