---
layout: default
title: 2020–21 Stats
body_class: stats
---

<div class="player-header home">
  <a href="hummels"><img src="assets/images/500/hummels.png" alt="Mats Hummels Photo" width="200" /></a>
  <a href="witsel"><img src="assets/images/500/witsel.png" alt="Axel Witsel Photo" width="200" /></a>
  <a href="reus"><img src="assets/images/500/reus.png" alt="Marco Reus Photo" width="200" /></a>
  <a href="delaney"><img src="assets/images/500/delaney.png" alt="Thomas Delaney Photo" width="200" /></a>
  <a href="piszczek"><img src="assets/images/500/piszczek.png" alt="Łukasz Piszczek Photo" width="200" /></a>
</div>

<h2>{{ page.title }}</h2>

<div class="subnav">
  <a class="current" href="./">2020–21</a>
  <a href="stats-2019-2020">2019–20</a>
  <a href="stats-2018-2019">2018–19</a>
  <a href="stats-2017-2018">2017–18</a>
  <a href="stats-2016-2017">2016–17</a>
  <a href="stats-2015-2016">2015–16</a>
  <a href="stats-all">All</a>
</div>

<ul class="table-toggles">
  <li><button class="table-toggle show-bundesliga">Bundesliga</button></li>
  <li class="hide"><button class="table-toggle show-ucl">Champions League</button></li>
  <li class="hide"><button class="table-toggle show-uel">Europa League</button></li>
  <li class="hide"><button class="table-toggle show-uelq">Europa League Qualification</button></li>
  <li><button class="table-toggle show-cup">DFB-Pokal</button></li>
  <li><button class="table-toggle show-supercup">DFB-Supercup</button></li>
  <li><button class="table-toggle show-all">All Competitions</button></li>
</ul>

{% include stats-table.html directory="stats-2020-2021" comp="bundesliga" %}
{% include stats-table.html directory="stats-2020-2021" comp="cup" %}
{% include stats-table.html directory="stats-2020-2021" comp="supercup" %}
{% include stats-table.html directory="stats-2020-2021" comp="all" %}

{% include stats-table-script.html %}

<script>
  new Tablesort(document.getElementById('stats-bundesliga'), { descending: true });
  new Tablesort(document.getElementById('stats-cup'), { descending: true });
  new Tablesort(document.getElementById('stats-supercup'), { descending: true });
  new Tablesort(document.getElementById('stats-all'), { descending: true });
</script>
