---
layout: default
title: All Stats Since 2015–16
body_class: stats
---

<h2>{{ page.title }}</h2>

<div class="subnav">
  <a href="./">2020–21</a>
  <a href="stats-2019-2020.html">2019–20</a>
  <a href="stats-2018-2019.html">2018–19</a>
  <a href="stats-2017-2018.html">2017–18</a>
  <a href="stats-2016-2017.html">2016–17</a>
  <a href="stats-2015-2016.html">2015–16</a>
  <a class="current" href="stats-all.html">All</a>
</div>

<ul class="table-toggles">
  <li><button class="table-toggle show-bundesliga">Bundesliga</button></li>
  <li><button class="table-toggle show-ucl">Champions League</button></li>
  <li><button class="table-toggle show-uel">Europa League</button></li>
  <li><button class="table-toggle show-uelq">Europa League Qualification</button></li>
  <li><button class="table-toggle show-cup">DFB-Pokal</button></li>
  <li><button class="table-toggle show-supercup">DFL-Supercup</button></li>
  <li><button class="table-toggle show-all">All Competitions</button></li>
</ul>

{% assign competitions = "bundesliga,ucl,uel,uelq,cup,supercup,all" | split: ',' %}
{% assign seasons = "stats-2020-2021,stats-2019-2020,stats-2018-2019,stats-2017-2018,stats-2016-2017,stats-2015-2016" | split: ',' %}

{% for competition in competitions %}
  <div class="table-container">
    <table id="stats-{{ competition }}" class="stats-table">
      <thead>
        <tr>
          <th class="left"></th>
          <th class="left"></th>
          <th class="left"></th>
          <th class="left"></th>
          <th class="left"></th>
          <th class="center" colspan="4">Assists</th>
          <th class="left"></th>
          <th class="left"></th>
          <th class="center" colspan="4">Per 90</th>
          <th class="center" colspan="2">Involvement</th>
        </tr>
        <tr>
          <th class="left">Player</th>
          <th class="left">Nation</th>
          <th class="right">Season</th>
          <th class="right">Mins</th>
          <th class="right">Goals</th>
          <th class="right">Official</th>
          <th class="right">1st</th>
          <th class="right">2nd</th>
          <th class="right">Total</th>
          <th class="right" data-sort-default>Points</th>
          <th class="right">PK</th>
          <th class="right">Goals</th>
          <th class="right">Assists</th>
          <th class="right">Points</th>
          <th class="right">Points-PK</th>
          <th class="right">Goals On</th>
          <th class="right">Involve%</th>
        </tr>
      </thead>
      <tbody>
        {% for season in seasons %}
          {% assign competition = competition %}
          {% for player in site.data.[season].[competition] %}
            <tr>
              <td class="left" data-sort="{{ player.id }}">
                <div class="player-photo {{ player.active }}" style="background-image: url(assets/images/100/{{ player.id }}.png)">
                </div>
                <a href="{{ player.id }}.html">
                  <span class="hide-on-small">{{ player.first }}</span> {{ player.last }}
                </a>
              </td>
              <td class="left" data-sort="{{ player.nation }}">{{ player.flag }}</td>
              <td class="right">{{ season | remove: "stats-" }}</td>
              <td class="right">{{ player.mins }}</td>
              <td class="right" data-value="{{ player.goals }}">{{ player.goals }}</td>
              <td class="right" data-value="{{ player.assist_official }}">{{ player.assist_official }}</td>
              <td class="right" data-value="{{ player.assist_1 }}">{{ player.assist_1 }}</td>
              <td class="right" data-value="{{ player.assist_2 }}">{{ player.assist_2 }}</td>
              <td class="right" data-value="{{ player.assists_total }}">{{ player.assists_total }}</td>
              <td class="right" data-value="{{ player.points }}">{{ player.points }}</td>
              <td class="right" data-value="{{ player.pk }}">{{ player.pk }}</td>
              <td class="right" data-value="{{ player.g90 }}">{{ player.g90 }}</td>
              <td class="right" data-value="{{ player.a90 }}">{{ player.a90 }}</td>
              <td class="right" data-value="{{ player.pts90 }}">{{ player.pts90 }}</td>
              <td class="right" data-value="{{ player.pts-pk90 }}">{{ player.pts-pk90 }}</td>
              <td class="right" data-value="{{ player.ong }}">{{ player.ong }}</td>
              <td class="right" data-value="{{ player.involve }}">{{ player.involve }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}

{% include stats-table-script.html %}

<script>
  new Tablesort(document.getElementById('stats-bundesliga'), { descending: true });
  new Tablesort(document.getElementById('stats-ucl'), { descending: true });
  new Tablesort(document.getElementById('stats-uel'), { descending: true });
  new Tablesort(document.getElementById('stats-uelq'), { descending: true });
  new Tablesort(document.getElementById('stats-cup'), { descending: true });
  new Tablesort(document.getElementById('stats-supercup'), { descending: true });
  new Tablesort(document.getElementById('stats-all'), { descending: true });
</script>
