<div class="key">
  <h3>About Hockey-Style Scoring</h3>
  <ul>
    <li><strong>Goals:</strong> Goals scored, but with hockey-style scoring this can also include goals that were officially credited as own goals. For example, in 2018-19, Marco Reus took a shot that Marcel Sabitzer deflected into his own net. With hockey-style scoring, Reus is credited with the goal.</li>
    <li><strong>Official Assists:</strong> Official assist record totals (does not take hockey-style scoring into consideration).</li>
    <li><strong>1st Assists:</strong> The pass to the scorer. Hockey-style 1st Assist scoring is far more liberal than football assists, leading to some discrepancies between my 1st Assist numbers and official ones. For example, a pass that takes a deflection can count as a 1st Assist. A shot that is rebounded can be counted as a 1st Assist. With traditional football scoring, these are not assists. But in hockey, they are.</li>
    <li><strong>2nd Assists:</strong> The pass to the player who recorded the 1st Assist. Similarly, this can be a deflected pass, rebounded shot, or simply a pass. A player cannot record an assist (1st or 2nd) on a goal they scored. In the case where the eventual goal scorer made the pass to the player who recorded the 1st Assist, the 2nd Assist goes to the player further up the assist chain. For example, if Witsel passes to Sancho, Sancho passes to Hazard, Hazard passes to Sancho, and Sancho scores; the scoring is Sancho (goal), Hazard (1st Assist), Witsel (2nd Assist).</li>
    <li><strong>Total Assists:</strong> 1st Assists plus 2nd Assists.</li>
    <li><strong>Points:</strong> Goals plus Total Assists.</li>
    <li><strong>Goals On:</strong> The number of goals scored by the club while the player was on the pitch.</li>
    <li><strong>Involve%:</strong> The percentage of goals the player was involved in (Points/Goals On).</li>
    <li><strong>More Info:</strong> <a href="https://medium.com/@fussballtwit/new-site-borussia-dortmund-hockey-style-scoring-6f6bfde33ada?source=friends_link&sk=e53f2715e30c10276eec57e5f0a4f9ec">Launch Announcement</a></li>
  </ul>
  <h3>Coverage</h3>
  <ul>
    <li><strong>2020-21:</strong> Preseason</li>
    <li><strong>2019-20:</strong> Bundesliga, Champions League, DFB-Pokal, DFL-Supercup (All Competitions)</li>
    <li><strong>2018-19:</strong> Bundesliga, Champions League, DFB-Pokal, (All Competitions) – <a href="goals-2018-2019">2 goals incomplete</a></li>
    <li><strong>2017-18:</strong> Bundesliga, Champions League, Europa League, DFB-Pokal, DFL-Supercup (All Competitions)</li>
    <li><strong>2016-17:</strong> Bundesliga, Champions League, DFB-Pokal, DFL-Supercup (All Competitions) – <a href="goals-2016-2017">12 goals incomplete</a></li>
    <li><strong>2015-16:</strong> <em>Coming Soon</em></li>
  </ul>
  <h3>Credits</h3>
  <p>1st and 2nd assist data recorded by <a href="http://darowski.com">Adam Darowski</a> (manually by watching game footage). Contract details from <a href="http://transfermarkt.com">Transfermarkt</a>. Player photos from <a href="http://bundesliga.com">Bundesliga.com</a>. All other data from <a href="http://fbref.com">FBref</a>.</p>
  <p>Follow Adam on Twitter at <a href="http://twitter.com/fussballtwit">@fussballtwit</a> and read his football writing on <a href="http://medium.com/@fussballtwit">Medium</a>.</p>
  <p>Built with <a href="https://jekyllrb.com/">Jekyll</a> and open-sourced <a href="https://github.com/adarowski/bvb">on GitHub</a>.</p>
</div>
