{% for player in site.data.[include.directory].[include.comp] %}
  {% if player.id == include.player %}
    <tr class="row-{{ include.comp }}">
      <td class="left">
        <span class="hide-on-small">{{ include.long_label }}</span>
        <span class="hide-on-large">{{ include.short_label }}</span>
      </td>
      <td class="right">{{ player.mins }}</td>
      <td class="right" data-value="{{ player.goals }}">{{ player.goals }}</td>
      <td class="right" data-value="{{ player.assist_official }}">{{ player.assist_official }}</td>
      <td class="right" data-value="{{ player.assist_1 }}">{{ player.assist_1 }}</td>
      <td class="right" data-value="{{ player.assist_2 }}">{{ player.assist_2 }}</td>
      <td class="right" data-value="{{ player.assists_total }}">{{ player.assists_total }}</td>
      <td class="right" data-value="{{ player.points }}">{{ player.points }}</td>
      <td class="right" data-value="{{ player.pk }}">{{ player.pk }}</td>
      <td class="right" data-value="{{ player.g90 }}">{{ player.g90 }}</td>
      <td class="right" data-value="{{ player.a90 }}">{{ player.a90 }}</td>
      <td class="right" data-value="{{ player.pts90 }}">{{ player.pts90 }}</td>
      <td class="right" data-value="{{ player.pts-pk90 }}">{{ player.pts-pk90 }}</td>
      <td class="right" data-value="{{ player.ong }}">{{ player.ong }}</td>
      <td class="right" data-value="{{ player.involve }}">{{ player.involve }}</td>
    </tr>
  {% endif %}
{% endfor %}
