<div class="table-container">
  <table id="{{ include.directory }}-{{ include.comp }}" class="stats-table">
    <thead>
      <tr>
        <th class="left"></th>
        <th class="left"></th>
        <th class="left"></th>
        <th class="left"></th>
        <th class="center" colspan="4">Assists</th>
        <th class="left"></th>
        <th class="left"></th>
        <th class="center" colspan="4">Per 90</th>
        <th class="center" colspan="2">Involvement</th>
      </tr>
      <tr>
        <th class="left">Player</th>
        <th class="left">Nation</th>
        <th class="right">Mins</th>
        <th class="right">Goals</th>
        <th class="right">Official</th>
        <th class="right">1st</th>
        <th class="right">2nd</th>
        <th class="right">Total</th>
        <th class="right" data-sort-default>Points</th>
        <th class="right">PK</th>
        <th class="right">Goals</th>
        <th class="right">Assists</th>
        <th class="right">Points</th>
        <th class="right">Points-PK</th>
        <th class="right">Goals On</th>
        <th class="right">Involve%</th>
      </tr>
    </thead>
    <tbody>
      {% for player in site.data.[include.directory].[include.comp] %}
        <tr>
          <td class="left" data-sort="{{ player.id }}">
            <div class="player-photo {{ player.active }}" style="background-image: url(assets/images/100/{{ player.id }}.png)">
            </div>
            <a href="{{ player.id }}">
              <span class="hide-on-small">{{ player.first }}</span> {{ player.last }}
            </a>
          </td>
          <td class="left" data-sort="{{ player.nation }}">{{ player.flag }}</td>
          <td class="right">{{ player.mins }}</td>
          <td class="right" data-value="{{ player.goals }}">{{ player.goals }}</td>
          <td class="right" data-value="{{ player.assist_official }}">{{ player.assist_official }}</td>
          <td class="right" data-value="{{ player.assist_1 }}">{{ player.assist_1 }}</td>
          <td class="right" data-value="{{ player.assist_2 }}">{{ player.assist_2 }}</td>
          <td class="right" data-value="{{ player.assists_total }}">{{ player.assists_total }}</td>
          <td class="right" data-value="{{ player.points }}">{{ player.points }}</td>
          <td class="right" data-value="{{ player.pk }}">{{ player.pk }}</td>
          <td class="right" data-value="{{ player.g90 }}">{{ player.g90 }}</td>
          <td class="right" data-value="{{ player.a90 }}">{{ player.a90 }}</td>
          <td class="right" data-value="{{ player.pts90 }}">{{ player.pts90 }}</td>
          <td class="right" data-value="{{ player.pts-pk90 }}">{{ player.pts-pk90 }}</td>
          <td class="right" data-value="{{ player.ong }}">{{ player.ong }}</td>
          <td class="right" data-value="{{ player.involve }}">{{ player.involve }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
