{% assign players_by_points = site.data.[include.directory].bundesliga | sort: "points" | reverse %}

<div class="stats-header">
  {% for player in players_by_points %}
    {% if forloop.index < 4 %}
      <div class="player-data">
        <a href="{{ player.id }}"><img src="assets/images/500/{{ player.id }}.png" alt="{{ player.first }} {{ player.last }} Photo" width="200" /></a>
        <div class="player-data-stats">
          <h3><a href="{{ player.id }}">{{ player.first }} {{ player.last }}</a></h3>
          <ul>
            <li><strong>{{ player.goals }}</strong> Goals</li>
            <li><strong>{{ player.assist_1 }}</strong> 1st A</li>
            <li><strong>{{ player.assist_2 }}</strong> 2nd A</li>
            <li><strong>{{ player.points }}</strong> Points</li>
          </ul>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
