<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-379490-14"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-379490-14');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <title>{% unless page.body_class == "home" %}{{ page.title }}: {% endunless %}Borussia Dortmund Frauen</title>
    <meta name="description" content="Dedicated to Borussia Dortmund’s first women’s squad. Includes squad information, statistics, and match reports as the team begins its climb up the German football pyramid.">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css?41">
    <script src="assets/js/tablesort.js"></script>
    <script src="assets/js/tablesort.number.js"></script>
    <link rel="icon" type="image/png" href="assets/images/favicon.ico">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@fussballtwit" />
    <meta name="twitter:title" content="{% unless page.body_class == 'home' %}{{ page.title }}: {% endunless %}Borussia Dortmund Frauen" />
    {% if page.body_class == "player" %}
      {% for player in site.data.players-frauen %}{% if player.id == page.player %}
        <meta name="twitter:description" content="#{{ player.number }} • {{ player.position }} • 2021-22: {{ player.all_m }} matches, {{ player.all_g }} goals, {{ player.all_a }} assists" />
      {% endif %}{% endfor %}
    {% else %}
      <meta name="twitter:description" content="This fan site is dedicated to Borussia Dortmund’s first women’s squad. Includes squad information, statistics, and match reports as the team begins its climb up the German football pyramid." />
    {% endif %}

    {% if page.body_class == "player" %}
      <meta name="twitter:image" content="http://darowski.com/bvb/assets/images/frauen/365/{{ page.player }}.jpg" />
    {% else %}
      <meta name="twitter:image" content="http://darowski.com/bvb/assets/images/frauen/bvb-frauen-fun.jpg" />
    {% endif %}
  </head>
  <body class="{{ page.body_class }}">
    <header>
      <div class="logo">
        <a href="./"><img src="assets/images/logo.svg" alt="Borussia Dortmund logo" width="80" height="80" /></a>
      </div>
      <div class="titles">
        <h1>
          <a href="./"><span>Borussia Dortmund Frauen</span> <em>Fan Site</em></a>
        </h1>
        <nav>
          <ul>
            <li class="home"><a href="./">Home</a></li>
            <li class="players">
              <a href="players.html">Players</a>
              <div class="player-list">
                <ul>
                  {% for player in site.data.players-frauen %}
                      <li>
                        <a href="{{ player.id }}.html">
                          <div class="player-photo" style="background-image: url(assets/images/frauen/100/{{ player.id }}.jpg)"></div>
                          <span>{{ player.first }} {{ player.last }}</span>
                        </a>
                      </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            <li class="goals"><a href="goals.html">Goals</a></li>
            <li class="matches"><a href="matches.html">Matches</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
