<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-379490-14"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-379490-14');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <title>{{ page.title }}: Borussia Dortmund Hockey-Style Scoring</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css?31">
    <script src="assets/js/tablesort.js"></script>
    <script src="assets/js/tablesort.number.js"></script>
    <link rel="icon" type="image/png" href="assets/images/favicon.ico">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@fussballtwit" />
    <meta name="twitter:title" content="{{ page.title }}: Borussia Dortmund Hockey-Style Scoring" />
    <meta name="twitter:description" content="Documenting all goals for Borussia Dortmund since the start of the 2015-16 season with hockey-style goals and assists." />
    {% if page.body_class == "player" %}
      <meta name="twitter:image" content="http://darowski.com/bvb/assets/images/500/{{ page.player }}.png" />
    {% else %}
      <meta name="twitter:image" content="http://darowski.com/bvb/assets/images/500/reus.png" />
    {% endif %}

  </head>
  <body class="{{ page.body_class }}">
    <header>
      <div class="logo">
        <a href="./"><img src="assets/images/logo.svg" alt="Borussia Dortmund logo" width="80" height="80" /></a>
      </div>
      <div class="titles">
        <h1>
          <a href="./"><span>Borussia Dortmund</span> Hockey-Style Scoring</a>
        </h1>
        <nav>
          <ul>
            <li class="stats"><a href="./">Stats</a></li>
            <li class="goals"><a href="goals.html">Goals</a></li>
            <li class="players">
              <a href="players.html">Players</a>
              <div class="player-list">
                <ul>
                  {% for player in site.data.players %}
                    {% if player.active == "active" %}
                      <li>
                        <a href="{{ player.id }}.html">
                          <div class="player-photo {{ player.active }}" style="background-image: url(assets/images/100/{{ player.id }}.png)"></div>
                          <span>{{ player.first }} {{ player.last }}</span>
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  <li><a class="all-players" href="players.html">All Players →</a></li>
                </ul>
              </div>
            </li>
            <li class="frauen"><a href="frauen.html">Frauen</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
